/*BUTTONS*/

/* W3Schools code was implemented in some areas of this code.
A special thanks to W3Schools and their tools */

    
/*------------------------------BUTTON 2-------------------------------*/
/* ------------Button2 is used for the [PROJECT] section ---------------*/

#button-link{
  padding: 10px;
}

.button2 {
    display: inline-block;
    padding: 6px 14px;
    width: 130px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color:rgb(255, 255, 255);
    border:none;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    margin: 8px auto;
  }
  
 

.button2:hover {
    background-color: #dd3b00;
    color: #fff;
    transform: translateY(4px);
    transform: scale(110%);
}

.button2:active{
    background-color: #225dff;
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
}

.button2:focus{
    background-color:#ffa631;
    transform: scale(100%);
}

.button3 {
    display: inline-block;
    padding: 6px 14px;
    width: 200px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:#225dff;
    border:none;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    margin: 8px auto;
}

.button3:hover{
  background-color:#ffa631;
  transform: scale(100%);
}



/*==========================MEDIA QUERIES===========================*/

/*---------------------max-width 1200px----------------------*/
@media screen and (max-width: 1200px){
  .select-buttons{
      justify-content: center;
      display: flex;
      flex-direction: row;
      left: 30px;
      box-shadow: 2px 2px 10px black;
  }

  .button2{
    justify-content: center;
    width: 130px;
    padding: 4px 12px;
    margin: 8px auto;
    border-color: black;
    border-radius: 5px;
  }
}

/*---------------------max-width 1000px----------------------*/
@media screen and (max-width: 1000px){

  #button-link{
    padding-left: 20px;
  }

  #button-link{
    left: 100px;
  }
  
  .select-buttons{
      display: flex;
      flex-direction: row;
 
  }

  .button2{
    justify-content: center;
    width: 130px;
    padding: 4px 8px;
    margin: 2px auto;
    border-color: black;
    border-radius: 5px;
  }
}

/*---------------------max-width 900px----------------------*/
@media screen and (max-width: 900px){

  #button-link{
    padding-left: 10%;
  }
}

/*---------------------max-width 600px----------------------*/
@media screen and (max-width: 600px){

  #button-link{
    padding-left: 15%;
  }
}


@media screen and (max-width: 400px){

  #button-link{
    padding-left: 13%;
  }
}
/*=====================================END=======================================*/