footer{
    width: 100%;
    height: 50rem;
}

#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

#click-text3{
    padding: 5px 10px;
    text-align:center;
    margin: 0 auto;
    background-color: #225dff;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Signika Negative', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#click-text4{
    padding: 5px 10px;
    font-family: 'Signika Negative', sans-serif;
    left: 10px;
    color: #5c5c5c;
    border-radius: 0px 5px 5px 0px;;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#contact p{
    text-align: center;
}

#contact-info{
    padding: 0;
    width: 80vw;
    height: 30rem;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 10 10 10 black;
    background-color:#ffa631;
    animation: fade-in 2s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logos2{
    display: flex;
    position: absolute;
    margin-top: 8%;
    left: 40%;
    width: 110px;
    box-shadow: none;
}

#logos2:hover{
    transform: scale(130%);
    transition: transform 0.2s ease-in-out;
}

#logos2::after{
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
}

#logos3{
    display: flex;
    position: absolute;
    margin-top: 8%;
    left: 50%;
    width: 110px;
    box-shadow: none;
}

#logos3:hover{
    transform: scale(130%);
    transition: transform 0.2s ease-in-out;
}

#logos3::after{
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
}
