
#reflections{
    margin-top: 50px;
    padding: 0;
    width: 80vw;
    height: 60vh;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 10 10 10 black;
    background-image: url(../Images/paper-3155438_1920.jpg);
    animation: fade-in 2s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reflections h3{
    margin-left: 100px;
    top: 30px;
}

#reflections p{
    margin:25px;
    top: 30px;
    width: 550px;
    margin-left: 100px;
}


@media screen and (max-width:830px) {
    #reflections h3{
        top: 40px;
        margin: 20px;
        margin-left: 50px;
    }

    #reflections p{
        margin:25px;
        top: 30px;
        margin-left: 50px;
        width: 400px;
    }
}


@media screen and (max-width:560px) {
    #reflections h3{
        text-align: center;
        top: 30px;
        margin: 0;
    }

    #reflections p{
        margin:25px;
        top: 30px;
        width: 280px;
    }


    #reflections{
        margin-top: 50px;
        padding: 0;
        width: 80vw;
        height: 70vh;
    }
}