
/*=================About Page===================*/

#click-text{
    padding: 5px 10px;
    text-align:center;
    margin: 0 auto;
    background-color: #225dff;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Signika Negative', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#click-text2{
    padding: 5px 10px;
    font-family: 'Signika Negative', sans-serif;
    left: 50%;
    color: #5c5c5c;
    border-radius: 0px 5px 5px 0px;;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#about{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 80%;
    height: 30rem;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 10 10 10 black;
    background-color: rgb(247, 247, 247);
    animation: fade-in 2s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.about-text, .slider-media {
    flex: 1; /* Adjust this value to control the width ratio between text and media */
    padding: 1rem;
}


.slider-media {
    margin-left: 0.5rem; /* Adjust space between text and media */
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover; /* Adjust this as needed for your media */
}


.about-text{
    position: absolute;
    height: 100%;
    width: 45%;
    margin-top: 2rem;
    text-align: left;
    margin-right: 0.2rem; /* Adjust space between text and media */
}


.slider-media{
    display: flex;
    flex-direction: row;
    position: absolute;
    border-radius: 5px;
    width: 40%;
    height: 80%;
    left: 50%;
    object-fit: cover;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slide h3, p{
    margin-left: 10rem;
}

/*---------------Buttons----------------*/
.prev{
    align-items: center;
    top: 50%;
    left: 0;

}

.next{
    align-items: center;
    float: right;
    top: 50%;
    right: 0; 
}

  
button.prev, button.next {
    position: fixed;
    display: inline-block;
    background-color: #ffa631;
    border: none;
    border-style: dotted;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 30px;
    margin: 4px 2px;

    cursor: pointer;
    border-radius: 5px;
  }
  
  /*----------button animation----------*/
  
  button.prev:hover, button.next:hover {
    background-color: #dd3b00;
    color: #ffffff;
    transform: scale(140%);
    transition: transform 0.2s ease-in-out;
  }

  button.prev:active, button.next:active {
    background-color: #225dff;
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
  }
  
/*=============Media Queries=================*/


/*------------------max-width 1000--------------------*/

@media screen and (max-width: 1000px){


    .slide{
        top: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .slider-media{
        display: flex;
        flex-direction: column;
    }

}


/*---------------------max-width 750px-----------------------*/

@media screen and (max-width: 800px){

    .slide, .slider-media, .about-text{
        display: flex;
        flex-direction: column;
    }


    button.prev, button.next {
        position: fixed;
        display: inline-block;
        background-color: #ffa631;
        border: none;
        border-style: dotted;
        color: rgb(0, 0, 0);
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
    
        font-size: 16px;
        margin: 4px 2px;
    
        cursor: pointer;
        border-radius: 5px;
      }
}

/*---------------------max-width 600px-----------------------*/
@media screen and (max-width: 600px){
    #about{
        display: flex;
        flex-direction: column;
        height: 50rem;
    }
    .slide{
        display: flex;
        flex-direction: column;
    }

    .slider-media{
        width: 80%;
        margin: 0 auto;
    }

    
    .slide h3, p{
        margin: 0 auto;
        width: 80%;
    }
}
