
/*=================About Page===================*/

#click-text{
    padding: 5px 10px;
    text-align:center;
    margin: 0 auto;
    background-color: #225dff;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Signika Negative', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#click-text2{
    padding: 5px 10px;
    font-family: 'Signika Negative', sans-serif;
    left: 50%;
    color: #5c5c5c;
    border-radius: 0px 5px 5px 0px;;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#about{
    padding: 0;
    width: 80vw;
    height: 65vh;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 10 10 10 black;
    background-color: rgb(247, 247, 247);
    animation: fade-in 2s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-list{
    display: flex;
    align-content: center;
    position: relative;
}

.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.image-container1{
    display: flex;
}

.image-container1 img {
    position: absolute;
    border-radius: 5px;
    width: 26vw;
    height: 45vh;
    left: 55%;
    top: 70px;
    object-fit: cover;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#video2{
    position: absolute;
    border-radius: 5px;
    width: 26vw;
    height: 45vh;
    left: 55%;
    top: 70px;
    object-fit: cover;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide h3, p{
    margin-left: 100px;
    width: 400px;
}

/*---------------Buttons----------------*/
.prev{
    align-items: center;
    top: 50%;
    left: 0;

}

.next{
    align-items: center;
    float: right;
    top: 50%;
    right: 0; 
}

  
button.prev, button.next {
    position: fixed;
    display: inline-block;
    background-color: #ffa631;
    border: none;
    border-style: dotted;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 30px;
    margin: 4px 2px;

    cursor: pointer;
    border-radius: 5px;
  }
  
  /*----------button animation----------*/
  
  button.prev:hover, button.next:hover {
    background-color: #dd3b00;
    color: #ffffff;
    transform: scale(140%);
    transition: transform 0.2s ease-in-out;
  }

  button.prev:active, button.next:active {
    background-color: #225dff;
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
  }
  
/*=============Media Queries=================*/


/*---------------------max-width 1300px-----------------------*/
@media screen and (max-width: 1300px){
    #about{
        width: 90vw;
    }
    .slide{
        top: 20px;
        display: flex;
        flex-direction: column;
    }

    .image-container1{
        flex-direction: row;
    }

    .slide h3, p{
        margin-left: 70px;
        width: 350px;
    }

    .image-container1 img {
        position: absolute;
        border-radius: 5px;
        width: 30vw;
        height: 40vh;
        top: 100px;
        left: 55%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #video2{
        position: absolute;
        border-radius: 5px;
        width: 30vw;
        height: 40vh;
        top:  100px;
        left: 55%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

/*------------------max-width 1000--------------------*/

@media screen and (max-width: 1000px){

    #about{
        width: 90vw;
    }

    .slide{
        top: 10px;
        display: flex;
        flex-direction: column;
    }

    .slide h3, p{
        margin-left: 50px;
        width: 320px;
    }
}

/*------------------max-width 950--------------------*/
@media screen and (max-width: 950px){
    #about{
        width: 90vw;
    }
    .slide h3, p{
        margin-left: 48px;
        width: 280px;
    }
}

/*---------------------max-width 750px-----------------------*/

@media screen and (max-width: 800px){
    #about{
        width: 90vw;
        height: 80vh;
    }
    
    .slide{
        display: flex;
        margin-top: 5px;
        left: 0px;
    }
    
    .slide h3, p{
        left: 50px;
        width: 400px;
    }

    .image-container1{
        display: flex;
        flex-direction: column;
    }
    .image-container1 img {
        position: absolute;
        border-radius: 5px;
        width: 70vw;
        height: 40vh;
        justify-content: center;
        top: 240px;
        left: 10%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #video2{
        position: absolute;
        border-radius: 5px;
        width: 70vw;
        height: 40vh;
        top: 240px;
        left: 10%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    button.prev, button.next {
        position: fixed;
        display: inline-block;
        background-color: #ffa631;
        border: none;
        border-style: dotted;
        color: rgb(0, 0, 0);
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
    
        font-size: 16px;
        margin: 4px 2px;
    
        cursor: pointer;
        border-radius: 5px;
      }
}

/*---------------------max-width 600px-----------------------*/
@media screen and (max-width: 600px){
    #about{
        width: 90vw;
    }

    .slide{
        margin-top: 10px;
    }

    .slide h3, p{
        width: 330px;
    }

    .image-container1 img {
        position: absolute;
        border-radius: 5px;
        width: 70vw;
        height: 40vh;
        justify-content: center;
        top: 240px;
        left: 10%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #video2{
        position: absolute;
        border-radius: 5px;
        width: 70vw;
        height: 40vh;
        top:  240px;
        left: 10%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

/*---------------------max-width 480px-----------------------*/
@media screen and (max-width: 480px){
    #about{
        width: 90vw;
        height: 120vw;
    }

    .slide{
        margin-top: 23px;
    }

    .slide h3, p{
        margin: 0px;
        width: 280px;
    }
    .image-container1 img {
        position: absolute;
        border-radius: 5px;
        width: 70vw;
        height: 40vh;
        justify-content: center;
        top: 160px;
        left: 11%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #video2{
        position: absolute;
        border-radius: 5px;
        width: 70vw;
        height: 40vh;
        top:  160px;
        left: 11%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}


/*---------------------max-width 370px-----------------------*/
@media screen and (max-width: 370px){

    #about{
        width: 90vw;
        height: 140vw;
    }
    
    .slide{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .slide h3, p{
        width: 270px;
    }

    .image-container1{
        display: flex;
        flex-direction: column;
    }
    .image-container1 img {
        position: absolute;
        border-radius: 5px;
        width: 80vw;
        height: 30vh;
        justify-content: center;
        top: 230px;
        left: 5%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #video2{
        position: absolute;
        border-radius: 5px;
        width: 80vw;
        height: 30vh;
        top:  230px;
        left: 5%;
        object-fit: cover;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out forwards;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    button.prev, button.next {
        position: fixed;
        display: inline-block;
        background-color: #ffa631;
        border: none;
        border-style: dotted;
        color: rgb(0, 0, 0);
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
    
        font-size: 16px;
        margin: 4px 2px;
    
        cursor: pointer;
        border-radius: 5px;
      }
}




