/*=================This is the TEXT Stylesheet=================*/

/* Imported from https://fonts.google.com/specimen/Signika+Negative#styles */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Ubuntu:wght@700&display=swap');

/* Imported Rubik bold font for h1 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');


h1{
    font-family:'Rubik';
    color: #E5E5E5;
    font-size: clamp(5rem, 1rem + 8vw, 7rem);
    text-shadow: 5px 5px 20px black;
    line-height: 100px;
    animation: fade-in 1.5s ease-in forwards;

}


h2{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}


h3{
    font-size: 40px;
    font-family: 'Signika Negative', sans-serif;
    line-height: 35px;
    text-decoration: none;
    animation: fade-in 1s ease-in-out forwards;
}

h4{
    font-family: 'Signika Negative', sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    
}

p{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    animation: fade-in 1s ease-in-out forwards;

}

.link{
    display: inline-block;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
    text-decoration:none;
    color:#ffa631;
}

text{
    font-size: 18px;
}


@keyframes fade-in {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 4; transform: translateY(0); }
}


